Download LEHD data at block level and join with block shapefile.

### Install / load packages

In [1]:
pip install pygris

Requirement already satisfied: pygris in c:\users\jpg23\anaconda3\lib\site-packages (0.1.6)
Requirement already satisfied: geopandas>=0.9 in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (0.13.2)
Requirement already satisfied: appdirs in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (1.4.4)
Requirement already satisfied: shapely in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (2.0.1)
Requirement already satisfied: numpy in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (1.19.2)
Requirement already satisfied: rtree in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (0.9.4)
Requirement already satisfied: fiona in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (1.9.4.post1)
Requirement already satisfied: pandas in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (1.1.3)
Requirement already satisfied: pip in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (20.2.4)
Requirement already satisfied: requests in c:\users\jpg23\anaconda3\lib\site-packages (from pygris) (2.24.0)
Requirement already satisfied: packaging in c:\users\jpg23\anaconda3\lib\site-packages (from geopandas>=0.9->pygris) (20.4)
Requirement already satisfied: pyproj>=3.0.1 in c:\users\jpg23\anaconda3\lib\site-packages (from geopandas>=0.9->pygris) (3.5.0)
Requirement already satisfied: setuptools in c:\users\jpg23\anaconda3\lib\site-packages (from rtree->pygris) (50.3.1.post20201107)
Requirement already satisfied: six in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (20.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.10" in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (2.0.0)
Requirement already satisfied: certifi in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (2020.6.20)
Requirement already satisfied: click~=8.0 in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (8.1.7)
Requirement already satisfied: cligj>=0.5 in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\jpg23\anaconda3\lib\site-packages (from fiona->pygris) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jpg23\anaconda3\lib\site-packages (from pandas->pygris) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\jpg23\anaconda3\lib\site-packages (from pandas->pygris) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jpg23\anaconda3\lib\site-packages (from requests->pygris) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jpg23\anaconda3\lib\site-packages (from requests->pygris) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jpg23\anaconda3\lib\site-packages (from requests->pygris) (1.25.11)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\jpg23\anaconda3\lib\site-packages (from packaging->geopandas>=0.9->pygris) (2.4.7)
Requirement already satisfied: zipp>=0.5 in c:\users\jpg23\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.10"->fiona->pygris) (3.4.0)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\jpg23\anaconda3\lib\site-packages (from click~=8.0->fiona->pygris) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pygris.data import get_lodes
from pygris import blocks
from pygris import places
import pandas as pd
import geopandas as gpd

### Load LEHD data using `get_lodes` function from `pygris`

In [4]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [5]:
lehd = []

for which_state in states:
    
    try:
    
        state_lehd = get_lodes(
            state = which_state, 
            year = 2019, 
            lodes_type = "wac", 
            agg_level = "block"
        )

        state_lehd["state"] = which_state

        lehd.append(state_lehd)
    
    except:
        
        pass

In [9]:
df = pd.concat(lehd)[["state", "w_geocode", "C000"]]

In [10]:
df

     state        w_geocode  C000
0       AL  010010201001000     2
1       AL  010010201001001     2
2       AL  010010201001002     1
3       AL  010010201001012    28
4       AL  010010201001019    15
...    ...              ...   ...
8844    WY  560459513003039     3
8845    WY  560459513003040     1
8846    WY  560459513003043     5
8847    WY  560459513003044    67
8848    WY  560459513003050     4

[2294854 rows x 3 columns]

In [11]:
df.state.unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN',
       'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH',
       'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA',
       'WA', 'WV', 'WI', 'WY'], dtype=object)

In [12]:
df.state.nunique()

48

### Load block group shapefiles (and land area)

In [ ]:
bl = []

for which_state in states:
    
    try:
    
        state_bl = blocks(state = which_state, year = 2019)

        state_bl["state"] = which_state

        bl.append(state_bl)
    
    except:
        
        pass

Using FIPS code '01' for input 'AL'

In [ ]:
bl.head()

In [14]:
bl_sf = pd.concat(bl)[["state", "GEOID", "ALAND", "geometry"]]

ValueError: No objects to concatenate

In [ ]:
bl_sf.head()

In [ ]:
bl_sf.state.unique()

In [ ]:
bl_sf.state.nunique()

In [ ]:
bl_sanfran = bl_sf.loc[bl_sf.GEOID.str.contains('^06075'), :]

In [ ]:
bl_sanfran.plot()

### Join LEHD data and shapefile

In [ ]:
df.dtypes

In [ ]:
bl_sf.dtypes

In [ ]:
df.head()

In [ ]:
bl_sf.head()

In [ ]:
df.shape[0]

In [ ]:
bl_sf.shape[0]

In [ ]:
df[df['state'] == 'AR']

In [ ]:
bl_sf[bl_sf['state'] == 'AR'].head()

In [ ]:
final_df = bl_sf.merge(df, how = 'left', left_on = ['state', 'GEOID'], right_on = ['state', 'w_geocode']).drop(columns = ['w_geocode']).rename(columns={"C000": "total_jobs", "ALAND": "land_area", "GEOID": "block"})

In [ ]:
final_df.shape[0]

In [ ]:
final_df.head()

In [ ]:
final_df.state.nunique()

In [ ]:
df_states = df.state.unique().tolist()
final_df_states = final_df.state.unique().tolist()

list(set(df_states).difference(final_df_states))

In [ ]:
type(final_df)

### Subset to cities of interest

In [ ]:
city_list = [
  'Albuquerque NM',
  'Atlanta GA',
  'Austin TX',
  'Bakersfield CA',
  'Baltimore MD',
  'Boston MA',
  'Charlotte NC',
  'Chicago IL',
  'Cincinnati OH',
  'Cleveland OH',
  'Colorado Springs CO',
  'Columbus OH',
  'Dallas TX',
  'Denver CO',
  'Detroit MI',
  'El Paso TX',
  'Fort Worth TX',
  'Fresno CA',
  'Urban Honolulu HI',
  'Houston TX',
  'Indianapolis city (balance) IN',
  'Jacksonville FL',
  'Kansas City MO',
  'Las Vegas NV',
  'Los Angeles CA',
  'Louisville KY',
  'Memphis TN',
  'Miami FL',
  'Milwaukee WI',
  'Minneapolis MN',
  'Nashville-Davidson metropolitan government (balance) TN',
  'New Orleans LA',
  'New York NY',
  'Oakland CA',
  'Oklahoma City OK',
  'Omaha NE',
  'Orlando FL',
  'Philadelphia PA',
  'Phoenix AZ',
  'Pittsburgh PA',
  'Portland OR',
  'Raleigh NC',
  'Sacramento CA',
  'Salt Lake City UT',
  'San Antonio TX',
  'San Diego CA',
  'San Francisco CA',
  'San Jose CA',
  'Seattle WA',
  'St. Louis MO',
  'Tampa FL',
  'Tucson AZ',
  'Tulsa OK',
  'Washington DC']

In [ ]:
all_places = places(cb = True)

In [ ]:
all_places.head()

In [ ]:
pd.set_option('display.max_colwidth', None)
all_places.loc[all_places.NAME.str.contains('Nashville|Indianapolis|Honolulu|St\.? Louis'), :][['NAME', 'STUSPS']]

In [ ]:
all_places['city'] = all_places.apply(lambda x: '{} {}'.format(x['NAME'], x['STUSPS']), axis=1)

In [ ]:
all_places.city.head()

In [ ]:
all_places_simp = all_places[['city', 'geometry']]
the_places = all_places_simp[all_places_simp['city'].isin(city_list)]

In [ ]:
pd.reset_option('^display.', silent=True)
the_places.head()

In [ ]:
the_places.city.unique()

In [ ]:
the_places.city.nunique()

In [ ]:
in_places = the_places.city.unique().tolist()

list(set(city_list).difference(in_places))

In [ ]:
final_df.crs == the_places.crs

In [ ]:
df_joined = gpd.sjoin(final_df, the_places, how = "inner").drop(columns = ['index_right'])

In [ ]:
df_joined.head()

In [ ]:
sf_test = df_joined[df_joined['city']=='San Francisco CA']

In [ ]:
sf_test.plot()

In [ ]:
sf_test2 = final_df.loc[final_df.block.str.contains('^06075'), :]

In [ ]:
sf_test2.plot()

In [ ]:
df_joined['jobs_per_sq_meter'] = df_joined['total_jobs']/df_joined['land_area']

In [ ]:
df_joined.head()

In [ ]:
df_joined.land_area.mean()

### Export as geodataframe

In [ ]:
df_joined.to_file("C:/Users/jpg23/data/downtownrecovery/lehd_new_downtowns/cities_lehd_jobs_block.geojson", driver="GeoJSON")